
# System
.DS_Store
.venv
__pycache__

# Condensed files
*.zip
*.tar.gz
*.rar

# Datasets
bottle classification*/
bottle_classification/
correctly_labeled/
no_label/
datasets/
data/

# Training runs (optional but recommended to avoid clutter)
runs/